body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
}

code[class*="language-"], pre[class*="language-"] {
    font-family: 'Roboto Mono', monospace;
}

.content {
    margin: 0 auto;
    padding: 16px;
    max-width: 1024px;
}

#footer {
    background-color: #212121;
    color: #757575;
    padding: 16px 0px;
    text-align: center;
}

#footer a {
    color: #757575;
    text-decoration: underline;
}

.mdc-list-item__link {
    cursor: pointer;
}

.mdc-drawer--temporary .mdc-list-item--selected {
    color: var(--mdc-theme-primary, #2196F3);
}

.nav-github-image {
    width: 24px;
}

.screenshot-image {
    max-width: 1024px;
    min-width: 200px;
}

.mdc-card__documentation_overview {
    display: inline-block;
    margin: 8px;
    width: 384px;
}

.mdc-card__media--16-9__image {
    width: 384px;
    height: 216px;
    overflow: hidden;
}

.card-title {
    font-size: 24px;
    font-weight: 400;
    padding: 8px 16px;
}

.documentation-items {
    text-align: center;
}

.documentation-items * {
    text-align: left;
}

table[class=documentation] {
    border-collapse: collapse;
    width: 100%;
}

table[class=documentation] th {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    text-align: left;
}

table[class=documentation] td {
    font-size: 14px;
    padding: 4px 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
